.alert {
  margin-top: 0.5em;
  margin-bottom: 0;
  position: absolute;
  top: -3em;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.alert-exit-active {
  opacity: 0;
  transition: opacity 350ms ease-in;
}